@import "tailwindcss";
/* =========================
   TEMPLATE TRANSITION
========================= */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform:
      translateY(12px)
      scale(0.985);
  }

  to {
    opacity: 1;
    transform:
      translateY(0)
      scale(1);
  }
}

@keyframes heroFloat {

  0%{
    transform:translateY(0px);
  }

  50%{
    transform:translateY(-10px);
  }

  100%{
    transform:translateY(0px);
  }

}

.hero-float{

  animation:heroFloat 6s ease-in-out infinite;

}